@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Animations */
@keyframes MainSlideIn {
    0% {transform: translateY(15%); opacity:0%;}
    100% {transform: translateY(0%); opacity:100%;}
  }

  @keyframes SpotifySlideIn {
    0% {transform: translateY(4%)}
    100% {transform: translateY(0%); opacity:100%;}
  }

/* Misc  */
body {
    background-color: #0000000d;
    margin: 0;
    overflow-x: hidden;
  }
  
html{
    scroll-behavior: smooth;
}

body{
  background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a897d1;
  background-size: 22px 22px;
  background-attachment: fixed;
  backdrop-filter: blur(0.3px);
}

.theme-light{
  background: #4568DC;  
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  
  background: linear-gradient(to right, #B06AB3, #4568DC);
  background-attachment:fixed;
}

body::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}


/* Nav Bar */
.NavBar {
    padding-top: 10vh;
    margin: auto;
    border-radius: 25px;
    width: 45%;
}

.NavLinks a {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #f2f2f2;
    text-align: left;
    transition: all 0.11s ease; 
    text-decoration: none;
    border-radius: 8px;
    width: fit-content;
  }

  .NavLinkSpacing{
    margin-left: 30px;
  }

  .NavLinks a:hover {
    color: rgb(178, 203, 235);
  }

  .RickRoll{
    margin-right: 30px;
    margin-left: 380px;
    position: absolute;
    width: fit-content;
  }

  button{
    appearance: none;
    border: none;
    outline: none;
    background:none;
    position: absolute;
    width: fit-content;
    margin-right: 30px;
    margin-left: 380px;
    position: absolute;
    width: fit-content;
  }

  .button-dark{
    cursor: pointer;
    fill: white;
    transition: all 0.11s ease; 
  }

  .button-dark:hover {
    fill: rgb(178, 203, 235);
  }


/* Main Body */
.MainBody {
    padding-top: 10vh;
    margin: auto;
    border-radius: 25px;
    width: 40%;
}

.MainBodyH1 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 55px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
}

.MainBodyH2 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: rgba(255, 255, 255, 0.718);
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    letter-spacing: 0.02em;
    font-size: 25px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
}


/* Footer */
.footer {
    height: 65px;
    align-content: center;
    text-align: center;
    padding: 11px;
    font-size: 16px;

  }

  .footer p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 8px;
    letter-spacing: 0.02em;
  }

  .footer a:link {
    color:  rgb(180, 198, 251);
    background-color: transparent;
    text-decoration: underline;
    width: fit-content;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }  

  .footer a:hover {
    color:  rgb(226, 135, 223);
    background-color: transparent;
    text-decoration: underline;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

  }

  .footer a:visited {
    color:  rgb(180, 198, 251);
    background-color: transparent;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }
  

  .footer a:visited:hover {
  color:  rgb(226, 135, 223);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

/* Platform Optimizations */

/* Media Query For Laptops */
@media only screen and (max-width: 1177px){
  button{
      margin-left: 150px;
  }
}   

/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
  .body-dark{
    background-attachment: local;
  }
  .body-light{
    background-attachment: local;
  }  
  /* Nav Bar */
  .NavBar {
    padding-top: 3vh;
    width: 90%;
}
button{
    margin-left: 18px;
}
.NavLinks a {
    font-size: 18px;
  }

  .NavLinkSpacing{
    margin-left: 21px;
  }

  .bi-bi-house-fill{
    width: 0px;
    height: 0px;
  }


    /* Main Body */
    .MainBody {
      padding-top: 10vh;
      margin:65px;
      width: 40%;
      height:86px
  }
  .MainBodyH1 {
      width: 290px;
      font-size: 45px;
  }
  .MainBodyH2 {
      width: 290px;
      font-size: 19px;
  }
    /* Footer */
    .footer {
      padding: 11px;
      padding-left: 30px;
      font-size: 13px;
    }
    .footer p {
      padding: 0px 5px;
      width: 190px;
    }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
      /* Nav Bar */
      .NavBar {
          padding-top: 3vh;
          width: 90%;
      }
      button{
          margin-left: 38px;
      }
      .NavLinks a {
          font-size: 15px;
        }
  
        .NavLinkSpacing{
          margin-left: 21px;
        }
  
        .bi-bi-house-fill{
          width: 0px;
          height: 0px;
        }
  
        /* Main Body */
        .MainBody {
          padding-top: 10vh;
          margin:65px;
          width: 40%;
          height:86px
      }
      .MainBodyH1 {
          width: fit-content;
          font-size: 45px;
      }
      .MainBodyH2 {
          width: 340px;
          font-size: 19px;
      }
      /* Footer */
      .footer {
          font-size: 11px;
        }
        .footer p {
          padding: 0px 5px;
        }
}