@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Animations */
@keyframes H1SlideIn {
    0% {transform: translateY(25%)}
    100% {transform: translateY(0%); opacity:100%;}
  }

  @keyframes H2SlideIn {
    0% {transform: translateY(45%)}
    100% {transform: translateY(0%); opacity:100%;}
  }
  
  @keyframes AboutBoxSlideIn {
    0% {transform: translateY(2%)}
    100% {transform: translateY(0%); opacity:100%;}
  }

/* Misc  */
body {
    background-color: #0000000d;
    margin: 0;
    overflow-x: hidden;
  }
  
html{
    scroll-behavior: smooth;
}

body{
  background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a897d1;
  background-size: 22px 22px;
  background-attachment: fixed;
  backdrop-filter: blur(0.3px);
}

.theme-light{
  background: #4568DC;  
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  
  background: linear-gradient(to right, #B06AB3, #4568DC);
  background-attachment:fixed;
}

body::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}


/* Nav Bar */
.NavBar {
    padding-top: 10vh;
    margin: auto;
    border-radius: 25px;
    width: 45%;
}

.NavLinks a {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #f2f2f2;
    text-align: left;
    transition: all 0.11s ease; 
    text-decoration: none;
    border-radius: 8px;
    width: fit-content;
  }

  .NavLinkSpacing{
    margin-left: 30px;
  }

  .NavLinks a:hover {
    color: rgb(178, 203, 235);
  }

  button{
    appearance: none;
    border: none;
    background: none;
    outline: none;
    position: absolute;
    width: fit-content;
    margin-right: 30px;
    margin-left: 380px;
    position: absolute;
    width: fit-content;
  }

  .button-dark{
    cursor: pointer;
    fill: white;
    transition: all 0.11s ease; 
  }

  .button-dark:hover {
    fill: rgb(178, 203, 235);
  }

/* Main Body */
.MainBody {
    padding-top: 10vh;
    margin: auto;
    border-radius: 25px;
    width: 40%;
}

.MainBodyH1 {
    animation: H1SlideIn 0.6s forwards;
    opacity:0%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 55px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
}

.MainBodyH2 {
    animation: H2SlideIn 0.6s forwards;
    animation-delay: 0.1s;
    opacity:0%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: rgba(255, 255, 255, 0.718);
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    letter-spacing: 0.02em;
    font-size: 25px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
}

/* About Boxs */

.about-box-containers{
    animation: AboutBoxSlideIn 0.6s forwards;
    animation-delay: 0.15s;
    opacity:0%;    
}
.about-box{
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    height: 90px;
    transition: all .12s ease-in-out; 
}

.about-box:hover{
    transform: scale(1.020); 
}

.about-box-nolink{
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  height: 330px;
  transition: all .12s ease-in-out; 
}

.about-box-svg {
    float: left;
    fill: white;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-top: 8px;
}

.about-box-png {
  float: left;
  fill: white;
  padding-bottom: 4px;
  padding-left: 25px;
  padding-top: 15.5px;
  max-width: 100%;
}

.about-box-col-left{
  float: left;
  width: 14%;
}

.about-box-col-right{
  float: right;
  width: 86%;
}

.about-box-col-left-nolink{
  float: left;
  width: 14%;
}

.about-box-col-right-nolink{
  float: right;
  width: 70%;
}

.about-box-col-left{
    float: left;
    width: 14%;
}

.about-box-col-right{
    float: right;
    width: 86%;
}

.about-box-H1{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 21px;
    transition: 0.2s;
    width: fit-content;
    padding-top: 16px;
}

.about-box-H1-nolink{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: white;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 21px;
  transition: 0.2s;
  width: fit-content;
  padding-top: 16px;
}

.about-box-H2{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: rgba(255, 255, 255, 0.76);
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    letter-spacing: 0.02em;
    font-size: 18px;
    transition: 0.2s;
    width: fit-content;
    padding-top: 2px;
    padding-bottom: 8px;
}

.about-box-H2-nolink{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: rgba(255, 255, 255, 0.76);
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  letter-spacing: 0.02em;
  font-size: 16.5px;
  transition: 0.2s;
  width: fit-content;
  padding-top: 2px;
  padding-bottom: 8px;
  padding-right: 10px;
}

.vl {
  border-left: 2px solid rgba(196, 196, 196, 0.663);
  position: absolute;
  left: 26.2%;
  margin-left: -3px;
  top: 70px;
  height: 270px;
}

/* Footer */
.footer {
    height: 65px;
    align-content: center;
    text-align: center;
    padding: 11px;
    font-size: 16px;

  }

  .footer p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 8px;
    letter-spacing: 0.02em;
  }

  .footer a:link {
    color:  rgb(180, 198, 251);
    background-color: transparent;
    text-decoration: underline;
    width: fit-content;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }  

  .footer a:hover {
    color:  rgb(226, 135, 223);
    background-color: transparent;
    text-decoration: underline;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

  }

  .footer a:visited {
    color:  rgb(180, 198, 251);
    background-color: transparent;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }
  

  .footer a:visited:hover {
  color:  rgb(226, 135, 223);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

/* Platform Optimizations */

/* Media Query For Skinnier Screens */
@media only screen and (max-width: 1800px){
  .about-box-col-right{
    float: right;
    width: 73%;
  }
  .about-box-svg {
    height: 55px;
    width: 55px;
  }
  img{
    height: 0px;
    width: 0px;
  }
  .vl {
    border:none;
  }
  .about-box-col-left-nolink{
    float: left;
    width: 0%;
  }
  
  .about-box-col-right-nolink{
    float: right;
    width: 92%;
  }
  .about-box-H2-nolink{
    font-size: 14px;
  }
  .about-box-nolink{
    height: 300px;
  }
}   

@media only screen and (max-width: 1177px){
  button{
      margin-left: 150px;
  }
}   

/* Media Query For Skinnier Screens */
@media only screen and (max-width: 1560px){
  .about-box-nolink{
    height: 350px;
  }
  .about-box-H2{
    font-size: 13.5px;
}
}   

/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
  .body-dark{
    background-attachment: local;
  }
  .body-light{
    background-attachment: local;
  }  
  /* Nav Bar */
  .NavBar {
      padding-top: 3vh;
      width: 90%;
  }
  button{
      margin-left: 18px;
  }
  .NavLinks a {
      font-size: 18px;
    }

    .NavLinkSpacing{
      margin-left: 21px;
    }

    .bi-bi-house-fill{
      width: 0px;
      height: 0px;
    }

    /* Main Body */
    .MainBody {
      padding-top: 10vh;
      margin:65px;
      width: 40%;
      height:86px
  }
  .MainBodyH1 {
      font-size: 45px;
      width: 300px;
  }
  .MainBodyH2 {
      width: 340px;
      font-size: 19px;
  }
  /* Footer */
  .footer {
    margin-top: 850px;
    margin-left: 40px;
    font-size: 14px;
  }
  .footer p {
    padding: 0px 5px;
  }
 
  /* About Boxs */
  .about-box-containers{
    margin-left: -30px;
  }

  .about-box{
      height: 85px;
      width: 330px;
  }

  .about-box-nolink{
    width: 327px;
    height: 450px;
  }

  .about-box-svg {
    height: 40px;
    width: 40px;
  }
  
  .about-box-col-left{
      float: left;
      width: 14%;
  }
  
  .about-box-col-right{
      float: right;
      width: 73%;
  }
  
  .about-box-col-left-nolink{
    float: left;
    width: 0%;
  }
  
  .about-box-col-right-nolink{
    float: right;
    width: 92%;
  }

  .about-box-H1{
      font-size: 18px;
      padding-top: 16px;
      padding-top: 12px;
  }
  
  .about-box-H2{
      font-size: 13px;
      padding-top: 2px;
      padding-bottom: 10px;
      padding-top: 0px;
  }

  .about-box-H2-nolink{
    font-size: 15px;
  }

  img{
    height: 0px;
    width: 0px;
  }

  .vl {
    border:none;
  }

  .link-chain{
    height: 20px;
    width: 20px;
  }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
      /* Nav Bar */
      .NavBar {
          padding-top: 3vh;
          width: 90%;
      }
      button{
          margin-left: 38px;
      }
      .NavLinks a {
          font-size: 15px;
        }
  
        .NavLinkSpacing{
          margin-left: 21px;
        }
  
        .bi-bi-house-fill{
          width: 0px;
          height: 0px;
        }
  
  /* Footer */
  .footer {
    margin-top: 780px;
    margin-left: 80px;
    font-size: 14px;
  }
  .footer p {
    padding: 0px 5px;
  }

/* Project Boxs */
.about-box-containers{
  margin-left: -30px;
}

.about-box{
    height: 85px;
    width: 330px;
}

.about-box-svg {
  height: 40px;
  width: 40px;
}

.about-box-col-left{
    float: left;
    width: 14%;
}

.about-box-col-right{
    float: right;
    width: 73%;
}

.about-box-H1{
    font-size: 18px;
    padding-top: 16px;
    padding-top: 12px;
}

.about-box-H2{
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.link-chain{
  height: 20px;
  width: 20px;
}
}