@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Animations */
@keyframes MainSlideIn {
    0% {transform: translateY(15%); opacity:0%;}
    100% {transform: translateY(0%); opacity:100%;}
  }

  @keyframes SpotifySlideIn {
    0% {transform: translateY(4%)}
    100% {transform: translateY(0%); opacity:100%;}
  }

/* Misc  */
body {
    background-color: #0000000d;
    margin: 0;
    overflow-x: hidden;
  }
  
html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a897d1;
    background-size: 22px 22px;
    background-attachment: fixed;
    backdrop-filter: blur(0.3px);
}

.theme-light{
    background: #4568DC;  
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  
    background: linear-gradient(to right, #B06AB3, #4568DC);
    background-attachment:fixed;
}

body::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}


/* Nav Bar */
.NavBar {
    padding-top: 10vh;
    margin: auto;
    border-radius: 25px;
    width: 45%;
}

.NavLinks a {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #f2f2f2;
    text-align: left;
    transition: all 0.11s ease; 
    text-decoration: none;
    border-radius: 8px;
    width: fit-content;
  }

  .NavLinkSpacing{
    margin-left: 30px;
  }

  .NavLinks a:hover {
    color: rgb(178, 203, 235);
  }

  button{
    appearance: none;
    border: none;
    outline: none;
    background:none;
    position: absolute;
    width: fit-content;
    margin-right: 30px;
    margin-left: 380px;
    position: absolute;
    width: fit-content;
  }

  .button-dark{
    cursor: pointer;
    fill: white;
    transition: all 0.11s ease; 
  }

  .button-dark:hover {
    fill: rgb(178, 203, 235);
  }


/* Main Body */
.MainBody {
    animation: MainSlideIn 0.6s forwards;
    opacity:0%;
    transition: all 0.3s;
    padding-top: 10vh;
    margin: auto;
    border-radius: 25px;
    width: 40%;
}

.MainBodyH1 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 55px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
}

.MainBodyH2 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: rgba(255, 255, 255, 0.718);
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
    letter-spacing: 0.02em;
    font-size: 25px;
    cursor: default;
    transition: 0.2s;
    width: fit-content;
}

/* Icons */
.Icons{
    padding-top: 10px;
    padding-bottom: 10px;
}

.bubble {
    height: 27px;
    width: 27px;
    padding-left: 10px;
    transition: 0.1s;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

.bubble:hover {
    transform: translate(0, -18%);
    transition: 0.23s;
}

#discord {
    padding-left: 2px;
    cursor: pointer;
    fill:white;
}
#discord:hover {
    fill:#5865F2;
}
#spotify {
    cursor: pointer;
    animation-delay: 2s;
    fill:white;
}
#spotify:hover {
    fill: #1DB954;
}
#github {
    cursor: pointer;
    fill:white;
}
#github:hover {
    fill: #a39a9a;
}
#twitter {
    cursor: pointer;
    fill:white
}
#twitter:hover {
    fill: #1DA1F2;
}
#steam {
    cursor: pointer;
    fill:white

}
#steam:hover {
    fill: #262726;
}
.custom-shape-divider-top-1636640641 {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: rgb(223, 3, 3);
}
.shape-fill {
    fill: rgb(67, 68, 67);
}

/* Spotify */
.SpotifyContainer{
    animation: SpotifySlideIn 0.6s forwards;
    animation-delay: 0.08s;
    opacity:0%;
    transition: all 0.3s;
    animation-play-state : paused;
    margin: auto;
    border-radius: 25px;
    width: 40%;
    height: 57vh;
}

#nowPlayingContainer {
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    width: 100%;
    height: 200px;
    }
      
    .nowPlayingBox {
        position: relative;
        min-width: 300px;
        display: flex;
        height: 120px;
        border-radius: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .nowPlayingBox::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 25px;
        backdrop-filter: saturate(200%) blur(20px);
    }
    
    #trackArtwork a img {
        position: relative;
        padding: 10px;
        height: 100px;
        aspect-ratio: 1;
        border-radius: 25px;
        z-index: 2;
    }

    #trackArtwork img {
        position: relative;
        padding: 10px;
        height: 100px;
        aspect-ratio: 1;
        border-radius: 25px;
        z-index: 2;
    }
    
    .trackInfo {
        position: relative;
        display: block;
        z-index: 2;
        width: 45%;
    }
    
    #trackName a {
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        color: white;
        text-decoration: none;
        white-space: nowrap;
        padding-right: 13px;
    }

    #trackName  {
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
    
    #artist a {
        font-family: 'Quicksand', sans-serif;
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }

    #artist  {
        font-family: 'Quicksand', sans-serif;
        color: white;
        text-decoration: none;
    }

    #spotifyinfo{
        font-family: 'Poppins', sans-serif;
        color: white;
        text-decoration: none;
        white-space: nowrap;
        cursor: default;
    }

    
/* Footer */
.footer {
    height: 65px;
    align-content: center;
    text-align: center;
    padding: 11px;
    font-size: 16px;

  }

  .footer p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 8px;
    letter-spacing: 0.02em;
  }

  .footer a:link {
    color:  rgb(180, 198, 251);
    background-color: transparent;
    text-decoration: underline;
    width: fit-content;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }  

  .footer a:hover {
    color:  rgb(226, 135, 223);
    background-color: transparent;
    text-decoration: underline;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));

  }

  .footer a:visited {
    color:  rgb(180, 198, 251);
    background-color: transparent;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
  }
  

  .footer a:visited:hover {
  color:  rgb(226, 135, 223);
  background-color: transparent;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgb(0,0,0,0.4));
}

/* Platform Optimizations */

/* Media Query For Laptops */
@media only screen and (max-width: 1015px){
    .MainBodyH2 {
        width: 450px;
    }
}   

@media only screen and (max-width: 1177px){
    button{
        margin-left: 150px;
    }
}   



/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
    body{
        background-attachment: local;
      }
      .theme-light{
        background-attachment: local;
      }  
    /* Nav Bar */
    .NavBar {
        padding-top: 3vh;
        width: 90%;
    }
    button{
        margin-left: 18px;
    }
    .NavLinks a {
        font-size: 18px;
      }

      .NavLinkSpacing{
        margin-left: 21px;
      }

      .bi-bi-house-fill{
        width: 0px;
        height: 0px;
      }

      /* Main Body */
      .MainBody {
        padding-top: 10vh;
        margin:65px;
        width: 40%;
        height:86px
    }
    .MainBodyH1 {
        width: fit-content;
        font-size: 45px;
    }
    .MainBodyH2 {
        width: 340px;
        font-size: 19px;
    }
    /* Icons */
    .Icons{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 200px;
    }
    /* Spotify */
    .SpotifyContainer{
        margin-left: 55px;
        height: 63vh;
    }
    #nowPlayingContainer {
        padding-top: 0px;
        transform: scale(0.8); 
    }
    /* Footer */
    .footer {
        font-size: 14px;
        margin-left: 40px;
      }
      .footer p {
        padding: 0px 5px;
      }
}

/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
        /* Nav Bar */
        .NavBar {
            padding-top: 3vh;
            width: 90%;
        }
        button{
            margin-left: 38px;
        }
        .NavLinks a {
            font-size: 15px;
          }
    
          .NavLinkSpacing{
            margin-left: 21px;
          }
    
          .bi-bi-house-fill{
            width: 0px;
            height: 0px;
          }
    
          /* Main Body */
          .MainBody {
            padding-top: 10vh;
            margin:65px;
            width: 40%;
            height:86px
        }
        .MainBodyH1 {
            width: fit-content;
            font-size: 45px;
        }
        .MainBodyH2 {
            width: 340px;
            font-size: 19px;
        }
        /* Icons */
        .Icons{
            padding-top: 10px;
            padding-bottom: 10px;
            width: 200px;
        }
        /* Spotify */
        .SpotifyContainer{
            margin-left: 55px;
            height: 62vh;
        }
        #nowPlayingContainer {
            padding-top: 0px;
            transform: scale(0.8); 
        }
        /* Footer */
        .footer {
            margin-left: 50px;
            font-size: 11px;
            
          }
          .footer p {
            padding: 0px 5px;
          }
}
